body {
    font-family: 'Roboto', sans-serif; 
}

div.top {
    background-color: #222222; 
    color:#F3F3F3;
    

}

header {
    background-color: #F0A83E;
    color: #FFFFFF;

}

section {
    background-color: #E5E5E5;
}

.banner {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    height: 409px;
    text-align: center;
}

.saludo {
    background-color: #FFFFFF;
    font-size: 30px;
    padding: 10px;
}

.comederos {
    background-color: #F0A83E;
    color: white;
    font-size: 13px;
    padding: 15px 23px;
}


footer{
    background-color: #3C2313;
    color:#FFFFFF;  
}

footer p{
    text-align: center;
    background-color:#222222;
}